body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navbar {
    background-color: rgb(150, 34, 34);
    margin: 10px;
    padding: 20px;
}

menu {
    margin: 20px;
    width: auto;
    height: 20px;
}

footer {
    border-top: 1px solid rgb(100, 95, 89);
    background-color: aliceblue;
    color: black;
}

.iconoA {
    font-size: 30px;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    width: 250px;
    text-align: center;
}

.log2 {
    font-weight: 100;
    font-size: 20px;
}

.icon {
    width: 50px;
    height: 50px;
}

.hed {
    position: relative;
}

.hed img {
    width: auto;
    height: 400px;
    align-items: center;
    margin: -110px 10px -155px 10px;
    padding: 10px 20px 10px 0px;
}